Wrapper dùng để căn giữa
<div class="center-wrapper">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first mt-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-amd"
        viewBox="0 0 16 16"
      >
        <path
          d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0zM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2z"
        />
      </svg>
    </div>

    <!-- Login Form -->
    <form *ngIf="anFormDangNhap == false" #loginForm="ngForm">
      <input
        type="text"
        id="login"
        class="fadeIn second form-control mt-3"
        name="tendangNhap"
        placeholder="Tên đăng nhập"
        [(ngModel)]="tendangNhap"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third form-control mt-3"
        name="matKhau"
        placeholder="Mật khẩu"
        [(ngModel)]="matKhau"
        required
      />

      <div class="d-flex justify-content-center mt-4 mb-3 login_container">
        <button
          type="button"
          name="button"
          class="btn btn-primary login_btn"
          (click)="dangNhapTaiKhoan()"
        >
          Đăng nhập
        </button>
      </div>
    </form>
  </div>
</div>
