<h3>Thêm Đơn Đăng Ký Tập Thể</h3>
<h5>
  Nhân viên đang đăng nhập: <b>{{ tenDangNhap }}</b
  ><br />
  Họ và tên: <b>{{ hoVaTen }}</b
  ><br />
  Phòng ban: <b>{{ tenPhong }}</b>
</h5>

<div class="form-group">
  <label>Ca ăn</label>
  <select class="form-control" [(ngModel)]="caAn" required>
    <option [value]="1">Ca 1</option>
    <option [value]="2">Ca 2</option>
    <option [value]="3">Ca 3</option>
  </select>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Họ tên</th>
      <th>Số lượng</th>
    </tr>
  </thead>
  <tbody>
    <
    <tr *ngFor="let nv of danhSachNhanVien">
      <td>{{ nv.HoVaTen }}</td>
      <td>
        <input
          *ngIf="caAn == 1"
          type="number"
          min="0"
          [(ngModel)]="nv.ca1"
          class="form-control"
        />
        <input
          *ngIf="caAn == 2"
          type="number"
          min="0"
          [(ngModel)]="nv.ca2"
          class="form-control"
        />
        <input
          *ngIf="caAn == 3"
          type="number"
          min="0"
          [(ngModel)]="nv.ca3"
          class="form-control"
        />
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success" (click)="dangKy()">Đăng ký</button>
