<!-- Button to Open the Modal -->
<br />
<br />
<button type="button" class="btn btn-primary" routerLink="createNhanVien">
  Thêm Nhân Viên
</button>

<br />
<br />
<!-- The Modal -->
<div
  class="modal"
  id="myModal"
  data-backdrop="static"
  data-keyboard="false"
></div>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th>STT</th>
      <th>Mã Nhân Viên</th>
      <th>Tên Nhân Viên</th>
      <th>Năm sinh</th>
      <th>Quyền Đăng Ký</th>
      <th>Phân Quyền</th>
      <th>Tên tài khoản</th>
      <th>Phòng Ban</th>
      <th>Tùy chọn</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let NhanVien of DSNhanVien; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ NhanVien.ID_NhanVien }}
      </td>
      <td>
        {{ NhanVien.HoVaTen }}
      </td>
      <td>
        {{ NhanVien.NamSinh }}
      </td>
      <td>
        {{ NhanVien.QDK }}
      </td>
      <td>
        {{ NhanVien.PhanQuyen }}
      </td>
      <td>
        {{ NhanVien.TenDangNhap }}
      </td>
      <td>
        {{ NhanVien.TenPhong }}
      </td>
      <td class="d-flex justify-content-center">
        <div>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/nhanvien/suaNhanVien', NhanVien.ID_NhanVien]"
          >
            Sửa
            <!-- PBan<tr *ngFor="let PBan of DSPhongBan "></tr> -->
          </button>
        </div>

        <div>
          <button
            type="button"
            class="btn btn-danger"
            (click)="XoaNhanVien(NhanVien)"
          >
            Xóa
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
