<div>
    <label class="col-ms-3">Mã tài Khoản</label>
    <input class="form-control col-ms-9" [(ngModel)]="ID_TaiKhoan"/>
     <small class="text-muted" *ngIf="ID_TaiKhoan!=''">Không sửa Mã Tài Khoản</small>
</div>
<div>
    <label class="col-ms-3">Tên đăng nhập</label>
    <input class="form-control col-ms-9" [(ngModel)]="TenDangNhap"/>
     <small class="text-muted" *ngIf="TenDangNhap!=''">Không sửa Tên Đăng Nhập</small>
</div>
<div>
    <label class="col-ms-3">Mật Khẩu</label>
    <input class="form-control col-ms-9" [(ngModel)]="MatKhau"/>
</div>
<div>
    <label class="col-ms-3">Ngày Tạo</label>
     <small class="text-muted" >Ngày Tạo được tạo tự động</small>
    
</div>
<button type="button " class="btn btn-primary" (click)="themTaiKhoanMoi()" *ngIf="checked2==false">Thêm mới tài khoản</button>
<button type="button " class="btn btn-primary" (click)="suaTaiKhoancu()" *ngIf="checked2==true">Sửa tài khoản</button>