<br />
<br />
<!-- Button to Open the Modal -->

<br />
<br />
<!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body"></div>
    </div>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>STT</th>
      <th>Mã Tài Khoản</th>
      <th>Role</th>
      <th>Ngày tạo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let TKhoan of DStaiKhoan; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ TKhoan.ID_TaiKhoan }}
      </td>
      <td>{{ TKhoan.Role }}</td>

      <td>
        {{ TKhoan.NgayTao }}
      </td>
    </tr>
  </tbody>
</table>
