
<div class="container">
  <h2>Quản lý phòng ban</h2>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" >Admin</a>
    <li class="nav navbar-nav mr-auto">
      <ul class="nav-item">
         <a class="nav-link" style="color: red;" routerLink="/phongban">Phòng ban</a>
      </ul>
    </li>
    
   
  </nav>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" >Đăng ký</a>
    <li class="nav navbar-nav mr-auto">
      <ul class="nav-item">
         <a class="nav-link" style="color: red;" routerLink="">Đăng ký cá nhân</a>
      </ul>
       <ul class="nav-item">
         <a class="nav-link" style="color: red;" routerLink="">Đăng ký tập thể</a>
      </ul>
    </li>
    
   
  </nav>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" >Trang chủ</a>
    <li class="nav navbar-nav mr-auto">
      <ul class="nav-item">
         <a class="nav-link" style="color: red;" routerLink="/phongban">Phòng ban</a>
      </ul>
    </li>
    
   
  </nav>
  
  <router-outlet></router-outlet>
</div>
