<!-- Button to Open the Modal -->
<br />
<br />
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#myModal"
  (click)="moFormThem()"
>
  Thêm Phòng Ban
</button>

<br />
<br />
<!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ tieuDe }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="dongForm()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-them-suaphongban
          [PBangSelected1]="PBanSelected"
          *ngIf="dangThemSua == true"
          [checked]="checked"
        ></app-them-suaphongban>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th>STT</th>
      <th>Mã Phòng Ban</th>
      <th>Tên Phòng Ban</th>
      <th>Tùy chọn</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let PBan of DSPhongBan; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ PBan.ID_Phong }}
      </td>
      <td>
        {{ PBan.TenPhong }}
      </td>
      <td class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary mr-2"
          (click)="chitietPhongBan(PBan)"
          data-toggle="modal"
          data-target="#myModal"
        >
          Sửa
          <!-- PBan<tr *ngFor="let PBan of DSPhongBan "></tr> -->
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="xoaPhongBancu(PBan.ID_Phong)"
        >
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>
