<h3>Chi Tiết Đơn Đăng Ký</h3>

<div *ngIf="thongTinDon">
  <p><b>Loại đơn:</b> {{ thongTinDon.LoaiDK }}</p>

  <!-- Chi tiết đơn cá nhân -->
  <div *ngIf="thongTinDon.LoaiDK.toUpperCase() === 'CANHAN'">
    <p><b>ID Đơn:</b> {{ thongTinDon.ID_DonDK }}</p>
    <p><b>Họ và tên:</b> {{ thongTinDon.HoVaTen }}</p>
    <p><b>Ngày đăng ký:</b> {{ thongTinDon.NgayDK }}</p>
    <p><b>Ca ăn:</b> Ca {{ thongTinDon.CaAn }}</p>
    <p><b>Số lượng:</b> {{ thongTinDon.SoLuong }}</p>
    <p><b>Trạng thái:</b> {{ thongTinDon.TrangThai }}</p>
  </div>

  <!-- Chi tiết đơn tập thể -->
  <div *ngIf="thongTinDon.LoaiDK.toUpperCase() === 'TAPTHE'">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Họ và tên</th>
          <th>Ngày đăng ký</th>
          <th>Ca ăn</th>
          <th>Số lượng</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of thongTinDon.DanhSachChiTiet">
          <td>{{ item.HoVaTen }}</td>
          <td>{{ item.NgayDK | date : "dd/MM/yyyy" }}</td>
          <td>Ca {{ item.CaAn }}</td>
          <td>{{ item.SoLuong }}</td>
          <td>{{ item.TrangThai }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!thongTinDon">
  <p class="text-danger">Không có dữ liệu để hiển thị.</p>
</div>
<button (click)="BackToDS()">Back to Danh sách</button>
